h1 {
    color: blue;
}

ul li.active {
    color: green;
}

ul li.special {
    color: red;
}

h2 {
    color: purple;
}

p b {
    color: orange;
}

#content {
    background-color: yellow;
}

h3 {
    color: pink;
}

div span {
    color: brown;
}

.example {
    color: gray;
}

#footer p {
    color: black;
}

a[href] {
    text-decoration-line: underline;
    text-decoration-color: fuchsia;
}

h2::before {
    content: "Тема:";
    color: green;
}

